@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: stretch;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
}

.header-content {
    max-width: 1024px;
    display: flex;
    margin: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    align-items: center;
    padding: 0px auto;
}

.header-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.header-links a {
    padding: 0px 0px 0px 12px;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    width: 100%;
    margin: auto;
    display: flex;
    flex: 1;
}

.hero-text {
    display: flex;
    max-width: 1024px;
    margin: 72px auto;
    align-items: stretch;
    flex: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 24px;
    justify-content: space-between;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sub-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0px 0px 0px 24px;
    flex: 1;
}

.image-placeholder {
    text-align: center;
    min-width: 400px;
    min-height: 250px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder p {
    flex: 1;
    font-size: 14px;
    color: #1f2937;
}

.hero-button-holder {
    display: flex;
    justify-content: flex-start;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
}

.random-information {
    align-content: space-between;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 72px auto;
}

.random-info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 36px;
}

.info-carousel {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
    margin: auto;
}

.carousel-item {
    max-width: 180px;
    margin: auto 16px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column; 
}

.carousel-item img {
    border: 2px solid #3882f6;
    border-radius: 12px;
}

.carousel-item p {
    flex-wrap: wrap;
    text-align: center;
    flex: 1;
    margin: auto;
    color: #4b5563;
}

.pull-quote {
    background-color: #e5e7eb;
    width: 100%;
}

.quote-container {
    max-width: 800px;
    margin: 48px auto;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-attribution {
    font-size: 18px;
    text-align: right;
    font-weight: bold;
    color: #1f2937;
}

.footer {
    max-width: 900px;
    padding: 48px 96px;
    width: 100%;
    flex: 1 1 100%;
    align-content: stretch;
    margin: 48px auto;
    display: flex;
    background-color: #3882f6;
    border-radius: 16px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    justify-content: flex-start;
    color: white;
}

.footer-right {
    display: flex;
    margin-left: auto;
    flex: auto%;
    justify-content: flex-end;
}

.footer-right button {
    border: 1px solid white;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}